<!DOCTYPE html>
<html lang="en">
<head>
    <script src="libs/raphael.js"></script>
    <script src="libs/jquery-1.10.2.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="libs/backbone.raphael.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/models/FieldModel.js"></script>
    <script src="js/models/FenceModel.js"></script>
    <script src="js/models/PlayerModel.js"></script>
    <script src="js/models/BoardModel.js"></script>

    <script src="js/views/BoardView.js"></script>
    <script src="js/views/InfoView.js"></script>
    <script src="js/views/UndoRedo.js"></script>
    <script src="js/views/FieldView.js"></script>
    <script src="js/views/FenceView.js"></script>
    <script src="js/views/PlayerView.js"></script>

    <script src="js/app.js"></script>

    <script type="text/html" id="info-tmpl">
        <div>Текущий игрок: <%= data.currentplayer %></div>
        <% _(data.fences).each(function(fence, index) {%>
        <div>Количество фишек <%=index + 1 %>-го игрока <%=fence%></div>
        <%}); %>
    </script>
</head>
<body>
<div id="game-info"></div>
<div id="holder"></div>
</body>
</html>