<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/html" id="info-tmpl">
        <div>Текущий игрок: <%= data.currentplayer %></div>
        <% _(data.fences).each(function(fence, index) {%>
        <div>Количество фишек <%=index + 1 %>-го игрока <%=fence%></div>
        <%}); %>
    </script>
    <script id="lmd-initializer"
            src="node_modules/lmd/src/lmd_initializer.js"
            data-src="dev.lmd.js" data-version="1.6.0" data-key="lmd"></script>
</head>
<body>
<button id="undo">Отменить</button>
<div id="game-info"></div>
<div id="holder"></div>
</body>
</html>