<h1>About Quoridor</h1>

<table class="infobox" cellspacing="3" style="border-spacing:3px;width:22em;">
    <tbody><tr>
        <td colspan="2" style="text-align:center;"><img alt="Quoridor 1.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Quoridor_1.jpg/220px-Quoridor_1.jpg" width="220" height="147" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Quoridor_1.jpg/330px-Quoridor_1.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/84/Quoridor_1.jpg/440px-Quoridor_1.jpg 2x"></td>
    </tr>
    <tr>
        <th scope="row" style="text-align:left;">Players</th>
        <td>2-4</td>
    </tr>
    <tr>
        <th scope="row" style="text-align:left;">Age range</th>
        <td>8 and up</td>
    </tr>
    <tr>
        <th scope="row" style="text-align:left;">Setup time</th>
        <td>&lt; 1 minute</td>
    </tr>
    <tr>
        <th scope="row" style="text-align:left;">Playing time</th>
        <td>20 minutes</td>
    </tr>
    <tr>
        <th scope="row" style="text-align:left;">Random chance</th>
        <td>None</td>
    </tr>
    <tr>
        <th scope="row" style="text-align:left;">Skill(s) required</th>
        <td>Deduction</td>
    </tr>
    </tbody></table>
<hr>
Quoridor is a 2- or 4-player abstract strategy game designed by Mirko Marchesi and published by Gigamic Games.

<h2> Rules of the game</h2>

<p>
Quoridor is played on a game board of 81 square spaces (9x9). Each player is represented by a pawn which begins at the center space of one edge of the board (in a two-player game, the pawns begin opposite each other). The objective is to be the first player to move their pawn to any space on the opposite side of the gameboard from which it begins.
</p>
<p>
The distinguishing characteristic of Quoridor is its twenty walls. Walls are flat two-space-wide pieces which can be placed in the groove that runs between the spaces. Walls block the path of all pawns, which must go around them. The walls are divided equally among the players at the start of the game, and once placed, cannot be moved or removed. On a turn, a player may either move their pawn, or, if possible, place a wall.
</p>
<p>
Pawns can be moved to an adjacent space (not diagonally), or, if adjacent to another pawn, jump over that pawn. If an adjacent pawn has a third pawn or a wall on the other side of it, the player may move to any space that is immediately adjacent to other adjacent pawns. The official rules are ambiguous concerning the edge of the board.
</p>
<p>
Walls can be placed directly between two spaces, in any groove not already occupied by a wall. However, a wall may not be placed which cuts off the only remaining path of any pawn to the side of the board it must reach.
</p>
<p>

<p>(from <a href="http://en.wikipedia.org/wiki/Quoridor">wiki</a>)</p>
