<h1>Contacts</h1>

<p>Hi! My name is Vitaliy Medvedev! And I develop this game in my free time.</p>
<p><strong>Github repo: </strong> https://github.com/imevs/quoridor</p>
<p><strong>Email: </strong> medvedev.vs at gmail.com</p>