<h1>Games count {{games.length}}</h1>

<div id="games">
    {{#each games}}
        <h2><a href="/play?id={{id}}">Game created at {{createDate}}</a></h2>
        <div>Players count: {{players.length}}</div>
    {{/each}}
</div>

<a href="/playLocal?playersCount=2">Play local game (2 players)</a><br>
<a href="/playLocal?playersCount=4">Play local game (4 players)</a><br>

<a href="/create?playersCount=2&multiplayer=1">Create new multiplayer game (2 players)</a><br>
<a href="/create?playersCount=4&multiplayer=1">Create new multiplayer game (4 players)</a>