<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Play local game
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="/playLocal/playersCount/2">2 players</a>
        </li>
        <li>
            <a href="/playLocal/playersCount/4">4 players</a>
        </li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Create new multiplayer game
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="/create/playersCount/2">2 players</a>
        </li>
        <li>
            <a href="/create/playersCount/4">4 players</a>
        </li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Play with computer
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="/createGameWithBots/playersCount/2">2 players</a>
        </li>
        <li>
            <a href="/createGameWithBots/playersCount/4">4 players</a>
        </li>
    </ul>
</div>

<h1>Active games</h1>

<div id="games">
    {{#each games}}
        <hr>
        <div><strong>Game created</strong>: {{createDate}}</div>
        <div><strong>Players count (active/all)</strong>: {{players.length}} / {{playersCount}}</div>
        {{#if isNotBusy }}
            <a class="btn btn-large btn-primary" href="/play/id/{{id}}">Join the game</a>
        {{/if}}
    {{/each}}
</div>
