<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Play local game
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/playLocal?playersCount=2">2 players</a>
        </li>
        <li>
            <a href="/playLocal?playersCount=4">4 players</a>
        </li>
    </ul>
</div>
<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Create new multiplayer game
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/create?playersCount=2">2 players</a>
        </li>
        <li>
            <a href="/create?playersCount=4">4 players</a>
        </li>
    </ul>
</div>

<h1>Active games</h1>

<ul id="games">
    {{#each games}}
    <hr>
    <div><strong>Game created</strong>: {{createDate}}</div>
    <div><strong>Players count (active/all)</strong>: {{players.length}} / {{playerNumber}}</div>
    <a class="btn btn-large btn-primary " href="/play?id={{id}}">Join the game</a>
    {{/each}}
</ul>
