<form action="/create/playersCount/{{players.length}}" method="POST">
    <dl>
        {{#each players}}
        <dt>Player  № {{@index}}</dt>
        <dd>
            <select name="playerType{{@index}}">
                <option value="human">Human</option>
                <option value="bot">Bot</option>
                <option value="smartbot">MegaBot</option>
            </select>
        </dd>
        {{/each}}
    </dl>

    <input type="submit" value="CreateGame"/>

</form>
