<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        window.roomId = '{{roomId}}';
    </script>
    <script src="libs/require.js" data-main="main"></script>
</head>
<body>
<div id="board"></div>
</body>
</html>