<script type="text/javascript">
    window.roomId = '{{roomId}}';
    window.playerId = '{{playerId}}';
    window.playersCount = '{{playersCount}}';
    window.botsCount = '{{botsCount}}';
</script>
<script src="/libs/require.js" data-main="/main"></script>
<div id="board"></div>