<% if (typeof data.currentplayer != "undefined") { %>
<p>You play as a player number: <strong><%= (data.currentplayer + 1)|| 'You may to view game only' %></strong></p>
<p>Current player number:
    <strong><%= data.activeplayer + 1 %> <%=(data.activeplayer == data.currentplayer ? '(ypur mive)': '')%></strong></p>
<% _(data.fences).each(function(fence, index) {%>
<p><%=index + 1 %> player walls count: <strong><%=fence%></strong></p>
<%}); %>
<%} else { %>
<p>Connecting to game server...</p>
<%}%>
