<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/html" id="board-tmpl">
        <div class="row">
            <div class="col-lg-12">
                <div id="game-info"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div id="holder"></div>
            </div>
            <div class="col-lg-4">
                <div id="timer"></div>
                <div id="history"></div>
            </div>
        </div>
    </script>
    <script type="text/html" id="game-info-tmpl">
        <p>
            <% if (typeof data.currentPlayer != "undefined") { %>
            <% if (data.currentPlayer >= 0) { %>
            <button class="move btn btn-large btn-primary">Complete the move</button>
            <%} else { %>
            <strong>You may to view game only (choose who to play from links above)</strong>
            <%} %>
            <%} else { %>
            Connecting to game server...
            <%}%>
        </p>
    </script>
    <script type="text/html" id="history-tmpl">
        <div class="b-history_wrapper">
            <table class="table table-bordered b-history_table">
                <colgroup>
                    <col width="10" align="center" />
                </colgroup>
                <colgroup width="<%= 100 / data.playersCount %>%">
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <caption>
                    <h3>
                        Moves history
                    </h3>
                </caption>
                <thead>
                <tr>
                    <th>#</th>
                    <% _(data.playersCount).times(function (index) { %>
                    <th style="color:<%= data.playerNames[index]%>" ><%=data.playerNames[index]%></th>
                    <%}); %>
                </tr>
                </thead>
                <tbody>
                <%_.each(data.turns, function(turn, index) {%>

                <% if (index % data.playersCount === 0) {%>
                <tr>
                    <td><%= (index / data.playersCount) + 1 %></td>
                    <%}%>

                    <td><%=turn%></td>

                    <% if ((index + 1) % data.playersCount === 0) {%>
                </tr>
                <%}%>
                <%}); %>
                </tbody>


            </table>
        </div>
    </script>
    <script type="text/html" id="timer-tmpl">
        <div class="b-timer_wrapper">
            <table class="table table-bordered">
                <caption>
                    <h3>Timer</h3>
                </caption>

                <%_(data.playersCount).times(function (i) {%>
                <tr>
                    <th style="color:<%= data.playerNames[i]%>"><%= data.playerNames[i]%> player</th>
                    <td><%= data.times[i]%> seconds</td>
                </tr>
                <%});%>
                <tr>
                    <th>Overall time</th>
                    <td><%= data.allTime%> seconds</td>
                </tr>
                <tr>
                    <th>Last time</th>
                    <td><%= data.timePrev%> seconds</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td><%= data.time%> seconds</td>
                </tr>
            </table>
        </div>
    </script>

    <script src="libs/jquery-1.10.2.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="libs/async.js"></script>
    <script src="libs/raphael.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
    <script src="dist/bundle.js"></script>
    <script>
        require(["app/app"]);
    </script>

</head>
<body>
<div id="board"></div>
</body>
</html>