<!DOCTYPE html>
<html>
<head>
    <title>Quoridor online game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/sticky-footer.css" rel="stylesheet" media="screen">
    <link href="/css/styles.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Quoridor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {{{body}}}
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">© 2013 by Vitaly Medvedev. Quoridor is released under MIT license.</p>
    </div>
</div>
<script src="/libs/jquery-1.10.2.min.js"></script>
<script src="/libs/bootstrap.min.js"></script>
</body>
</html>